html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***** Main Content****/
.upper-text{
display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.upper-text h3 {
    font-weight: bold;
}

.upper-text p{
    line-height: 1.25rem;
}


.content-wrapper{
    height: 200px;
    background-color: #CCC;
    margin-bottom: 20px;
    
}

.input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
/********BOOTSTRAP CUSTIMIZE *****/

.input-group{
        width: 70% !important;
}

/**************

Loading Handlar

*******/

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #31326f;
  border-color: #31326f transparent #31326f transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
